version: '3.3'
services:
  s1_mysql:
    image: mysql:5.7
    restart: always
    container_name: 'S1_MySQL'
    environment:
      MYSQL_DATABASE: 's1_mysql'
      MYSQL_USER: 'tanhau165'
      MYSQL_PASSWORD: 'Abcdabcd1'
      MYSQL_ROOT_PASSWORD: 'Abcdabcd1'
    ports:
      - '3306:3306'
    expose:
      - '3306'

  s3_apisjava:
    image: s3_apijava
    build:
      context: ./
      dockerfile: S3_APIsJava/Dockerfile
    ports:
      - "9000:9000"
    depends_on:
      - s1_mysql


